.banner{

    &__item{
        position: relative;
        max-height: 400px;
        min-height: 400px;
        width: 100%;
    
        & img{
          height: 100%;
          width: auto;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%,0%);
          z-index: -1;
        }
    
        & p{
          padding-top: 48px;
          max-width: 400px;
        }
      }
}