.footer{
    background: #F5F5F5;
    padding: 70px 0 35px;
  
    .wrapper{
      background: #FFFFFF;
      border-radius: 8px;
    }
  
    .list{
      list-style: none;
  
      & li + li{
        margin-left: 8px;
      }
  
      & a img{
        transition: all .4s ease;
  
        &:hover{
          transition: all .4s ease;
          transform: scale(0.9);
        }
      }
    }
  
    .bottom{
      margin: 0 -15px;
  
      & p{
        width: 50%;
        padding: 0 15px;
      }
  
      & button{
        width: auto;
        max-width: 50%;
        margin-right: auto;
        padding: 0 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        background: transparent;
  
        &:hover{
          color: #FFDF31;
        }
      }
    }
  }